@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
background-color: #7ee8fa;
background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  font: normal 14px "Open Sans", sans-serif;
  margin:0;
}

h1,h2,h3,p,li {
  text-align:left;	
}

a {
  background-color:inherit;
  color:#333;
  text-decoration:none; 
}

a:hover {
  text-decoration: underline;
}	

blockquote {
font: 'Redressed', cursive;
width: 70%;
margin: 5px auto;
padding: 10px 50px;
position: relative;
color: rgb(105, 148, 40);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	

blockquote:before {
display: block;
content: "\201c";
font: bold 120px "Times New Roman", serif;
position: absolute;
left: -20px;
top: -10px;
color: rgb(108, 139, 46);
}



#pseudo-wrap1 {
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bc00', endColorstr='#8fc800',GradientType=0 );
height: 195px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:15px; left:0; right:0;
}

#pseudo-wrap2 {
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b503', endColorstr='#000000',GradientType=0 );
height: 190px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:211px; left:0; right:0;
}

#wrap {
  width:80%;
  background-color:#fff;
  color:inherit;
  padding:0;
  margin:30px auto 15px auto; 
}

#header {
  background-color: #00b712;
background-image: linear-gradient(315deg,#5aff15 0% #00b712 74%);
  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb50c', endColorstr='#568e07',GradientType=0 );
  color:white;
  height:200px;
  
  border:10px solid #fff;
  border-bottom:1px solid #fff;
}

#header h1 {	
  text-align:center;
  padding:0;
  margin:30px auto 0 auto; 
}

#header a
{	background-color:inherit;
	color:#fff;
	text-decoration:none;
font-size: 60px;
font-style: italic;
 }
  
	
#header p
{	text-align:center;
	margin:0 auto;
font-size: 26px; }

nav {
  text-align:center;
  margin:15px auto;
  padding: 10px auto;
  height: 50px;
  
  
}
	
ul#menu {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    padding: 0;
    overflow: hidden;
    width:50%;

    }

ul#menu li  
 { 	display: table-cell;
    text-align:center;  }
   
ul#menu li a {
    background-color:inherit;
    color: #000;
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    margin:0 1px;
    font-size: 20px;
    
}

ul#menu li a:hover,ul#menu li a.current
{	background-color:#7fb50c;
	color:white;

border-radius: 23px;	} 
	
/* Content */
#content
{	text-align:left;
	width:90%;
	padding:0 25px 10px 25px;
	margin:0 auto;	}
	
#content h2
{	
	padding:0;
	margin:0 auto; }	

#content h3
{	background-color:inherit;
	color:rgb(33, 94, 25);
	font:bold 12pt Arial,sans-serif;	
	padding:0;	}

#content span.author
{	font:normal 8pt Arial,Helvetica,sans-serif;
	background-color:inherit;
	color:#666;	}

#content span.author a
{	background-color:inherit;
	color:rgb(109, 46, 46);
	text-decoration:none;
	padding:0 3px; }

#content span.author a:hover
{	background-color:rgb(196, 255, 79);
	color:#fff;	}

#content p a
{	background-color:inherit;
	color:rgb(153, 92, 0);
	text-decoration:underline;	} 	
	
#content p
{	text-align:justify;
	line-height:24px; }

#content p.center { text-align: center; }
	
#content li
{	line-height:24px;	}

#content li a
{	background-color:inherit;
	color:#690;
	text-decoration:none;	}

#content li a:hover
{	text-decoration:underline; }

#content ul {
  list-style:none;
  padding:0;
}
	
#content ul li
{	list-style-position:inside;
    text-indent: 0px;
	padding-left:20px;
	margin:0; }	
	
#content ul li:before {
  content: "\27a1 \00a0 \00a0";
  background-color:inherit;
  color:#690;
  font-size:16px;
}

#content .post
{	padding:0 0 20px 0;
	margin:auto;	}

#content img.photo
{
   display: block;
   height:480x;
   width: 720px;
   margin-left: auto;
   margin-right: auto;}

/* Footer */	
#footer {
   background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb50c', endColorstr='#568e07',GradientType=0 );
  color:black;
  height:40px;
  text-align:center;
  font-size:12px;
  padding:0;
  margin:0 auto;	
  border:10px solid #fff;
}

#footer a
{	background-color:inherit;
	color:black;	
	text-decoration:none;	}
	
#footer .notice
{	background-color:inherit;
	color: black;
	padding:0;
  line-height:40px;
}

/* Attribution: Under Creative Commons, Attribution should not be removed or hidden */
#attribution {	
  background-color:inherit;
  color:#568e07;
  text-align:center;
  font-size:11px;
  padding:5px 0;
  margin:0 auto;	
}

#attribution a
{	background-color:inherit;
	color:#568e07;
	text-decoration:none;	}
	
#attribution a:hover
{	color:#999;	}

/* Responsive Styles */

#show-menu {display: none;}
.responsive { text-align:left; font-weight:bold; font-size:18px; font-style:underline; padding: 0; display:none; margin-left:20px;}

@media screen and (max-width : 700px){

body { font-size:12px; }
blockquote { font-size:16px; }
blockquote:before { font-size:80px;}
#footer { font-size: 11px; }
#attribution { font-size: 10px; }

ul#menu {display:none;}
.responsive { display:block;}
#show-menu:checked ~ ul#menu {display: block; position: absolute;  width:50%; margin:1% 0 0 -8%; overflow:visible; z-index:100;}
ul#menu li { display: block; text-align:left; margin:0 0 0 20%;}
ul#menu li a { display: block; background-color:#fff;}
ul#menu li a:hover { background-color:#690; color:#fff;}
ul#menu li a.current, ul#menu li a.active:hover {    background-color:#eee;  color: #000;}
